/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.logo {
    float: left;
}

/* ~~ Top Navigation Bar ~~ */

#navigation-container {
    width: 1200px;
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.navigation-bar {
    background-color: #2a2a2a;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navigation-bar img {
    float: left;
    height: 100%;
    max-width: 100%;
    margin-right: 10px;
}

.navigation-bar ul {
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.navigation-bar li {
    list-style: none;
    padding: 0;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
}

.navigation-bar a {
    color: #ffffff;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    transition: 0.3s;
    border-radius: 3px;
    opacity: 0.8;
}

.navigation-bar a:hover {
    color: #23cad5;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 1;
}

#menu {
    float: right;
}
